body {
    font-family: Arial, sans-serif;
    transition: background-color 0.5s, color 0.5s;
    background-color: #ced4da;
    color: #333;
}

.dark-mode {
    background-color: #252422;
    color: #e0e0e0;
}

a {
    color: #0077b6;
}

.dark-mode a {
    color: #0077b6;
    text-decoration: none;
}


.navbar {
    background-color: #ffffff;
}

.dark-mode .navbar {
    background-color: #403d39;
    color: #ffffff;
}


.btn-primary {
    background-color: #0077b6;
    color: #fff;
}

.dark-mode .btn-primary {
    background-color: #0077b6;
    color: #1a1a1a;
}

.card {
    background-color: #fff;
    color: #333;
}

.dark-mode .card {
    background-color: #403d39;
    color: #e0e0e0;
    border: 1px solid #ffffff;
}


.navbar a {
    color: #fff;
}

.dark-mode .navbar a {
    color: #e0e0e0;
}

.Categorie {
    background-color: #ffffff;
}

.dark-mode .Categorie {
    background-color: #403d39;
}